body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.jumbotron {
    background-image: linear-gradient(to right, #f8f9fa, #e0e0e0);
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}
